*, html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background: hsl(212, 45%, 89%);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);
}

li{
    text-decoration: none;
    list-style: none;
    padding-bottom: 3rem;
    color: rgb(15, 102, 95);
}

span{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: black;
    padding-left: 5px;
}
span.userName{
    font-size: 1.5rem;
    font-weight: 700;
}

img{
    width: 25rem;
    height: 25rem;
    border-radius: 15px;
}


/* Media query */
@media only screen and (max-width: 900px){
    .container{
        display: flex;
        flex-direction: column;
    }

}

